.mainTopHeader {
  background-color: rgb(212, 212, 241);
  font-size: 18px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .loginMenu {
    font-size: large;
    color: chocolate;
    position: relative;
    transition: all 1s ease-in-out;
    .dropdown {
      position: absolute;
      opacity: 0;
      .triangle {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid rgb(95, 23, 23);
      }
      .content {
        z-index: 1;
        position: absolute;
        background-color: rgb(249, 246, 246);
        width: 150px;
        text-align: center;
        right: -65px;
        display: flex;
        flex-direction: column;
        border-radius: 2px;
        a {
          text-decoration: none;
          color: black;
          transition: all 0.2s ease-in-out;
        }
        a:hover {
          border-radius: 4px;
          background-color: #e86d39;
          color: aliceblue;
        }
      }
    }
  }
  .loginMenu:hover .dropdown {
    opacity: 1;
  }
}
.mainTopHeader:hover {
  cursor: pointer;
}
.headerLogo {
  width: 30px;
  height: 30px;
}
.menuPhone {
  display: flex;
  justify-content: center;
  span {
    margin-left: 5px;
    color: red;
  }
}
.menuChanel {
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    column-gap: 8px;
    justify-content: center;
    margin-bottom: 0px;
    align-items: center;
    /* ẩn dấu chấm thẻ li */
    list-style: none;
    .cartWrapepper {
      position: relative;
      width: 200px;
    }
    a {
      display: inline-block;
      color: rgb(111, 113, 113);
      width: 15px;
    }
  }
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    margin-left: 2px;
    margin-bottom: 5px;
  }
}

.itemCart {
  position: absolute;
  margin-bottom: 40px;
  margin-right: 40px;
  font-size: medium;
  color: red;
  font-weight: 700;
}
