.wrapper {
  display: flex;
  justify-content: center;
  .loginContainer {
    width: 25%;
    background-color: rgb(249, 249, 249);
    padding: 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    .title {
      color: red;
    }
    .errorLogin {
      align-self: flex-start;
      color: red;
      padding: 0px 2.5%;
    }
    .br {
      width: 50%;
      background-color: rgb(216, 215, 215);
      height: 5px;
      border-radius: 10px;
    }
    input {
      margin-top: 3%;
      border: 1px solid #d5d0d0;
      width: 100%;
      height: 40px;
      padding: 0px 2%;
      border-radius: 5px;
    }
    button {
      margin-top: 3%;
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      border-style: none;
      background-color: #e95211;
      color: #f8f8f8;
    }
    button:hover {
      border: solid 1px #e95211;
      background-color: #fffefe;
      color: #e95211;
    }
    .signup {
      margin-top: 4%;
      align-self: flex-end;
    }
  }
}
