.container {
  background-color: rgb(150, 150, 219);
  padding: 40px;
  .wrapper {
    border: 1px solid;
    display: flex;
    input {
      flex-grow: 3;
      color: black;
    }
    .productList {
      display: block;
      position: relative;
      flex-grow: 3;
      .title {
        display: flex;
        align-items: center;
        height: 100%;
      }
      .productItem {
        display: none;
        position: absolute;
      }
    }
    .productList:hover .productItem {
      display: block;
    }
    button {
      flex-grow: 1;
      background-color: rgb(30, 88, 88);
    }
  }
}
