.container {
  background-color: rgb(150, 150, 219);
  padding: 40px;
  .wrapper {
    border: 1px solid;
    display: flex;
    input {
      flex-grow: 3;
      color: black;
    }
    .productList {
      display: block;
      position: relative;
      flex-grow: 3;
      .listCatogory {
        display: block;
        position: absolute;
        padding-left: 10px;
        li {
          display: none;
        }
      }
      .listCatogory:hover li {
        display: block;
      }
    }
    button {
      flex-grow: 1;
      background-color: rgb(30, 88, 88);
    }
  }
}
