.container {
  display: flex;
  width: 70%;
  color: rgb(31, 30, 30);
  font-size: x-large;
  .contentWrapper {
    width: 65%;
    padding: 10px;
    font-size: medium;
    .name {
      font-size: xx-large;
      font-weight: 700;
    }
    .price {
      color: red;
      font-size: xx-large;
      font-weight: 700;
    }
    .quantity {
      display: flex;
      justify-content: space-between;
      width: 110px;
      .button {
        width: 26px;
        height: 26px;
        background-color: chocolate;
        color: aliceblue;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        text-align: center;
        font-size: 20px;
        span {
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .button:hover {
        cursor: pointer;
      }
      .number {
        color: black;
        width: 50px;
        border: 1px solid #111;
        text-align: center;
      }
    }
    .buttonOrder {
      display: flex;
      margin-top: 20px;
      .addCard {
        background-color: rgb(243, 178, 14);
        height: 50px;
        padding-left: 20px;
        padding-right: 20px;
        color: aliceblue;
        border-radius: 20px;
        border: none;
      }
      .buy {
        margin-left: 20px;
        background-color: chocolate;
        width: 86px;
        color: aliceblue;
        border-radius: 20px;
        border: none;
      }
    }
  }
  .shopSystemWrapper {
    width: 35%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .name {
      font-size: xx-large;
      font-weight: 700;
    }
    img {
      width: 80%;
      border: 1px solid black;
      margin-top: 10px;
    }
  }
}
.color {
  color: red;
}
