@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Noto+Sans+JP:wght@100..900&display=swap");

.NavContainer {
  background-color: #ffffff;
  width: 20%;
  height: 68%;
  padding: 1% 1%;
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #dad9d9;
  border-radius: 10px;
  color: rgb(12, 12, 12);
  .productSearch {
    margin-top: 1px;
    .input {
      width: 100%;
      padding: 2px;
      border: 2px solid #d4d4d4;
    }
  }
  .searchPrice {
    width: 100%;
    margin-top: 20px;
    ul {
      padding: 0px;
      li {
        padding: 0px 2px;
        list-style: none;
        label {
          margin-left: 5px;
        }
      }
    }
  }
  .productFilter {
    margin-top: 20px;
    ul {
      li:hover {
        color: rgb(253, 74, 74);
        cursor: pointer;
      }
      margin-bottom: 0px;
    }
  }
  button {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    background-image: linear-gradient(to right, #f47842, #f4a685);
    border: none;
    border-radius: 5px;
  }
  button:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
