@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Noto+Sans+JP:wght@100..900&display=swap");

.NavContainer {
  background-color: #ffffff;
  width: 20%;
  height: 60%;
  padding: 0px 1%;
  font-family: "Times New Roman", Times, serif;
  border: 1px solid #dad9d9;
  border-radius: 10px;
  color: rgb(12, 12, 12);
  .productSearch {
    margin-top: 1px;
    .input {
      width: 100%;
      border: 2px solid #d4d4d4;
    }
  }
  .searchPrice {
    width: 100%;
    margin-top: 20px;
    p {
      margin-bottom: 0px;
    }
    input {
      width: 100%;
      border: 1px solid #d4d4d4;
    }
  }
  .productFilter {
    margin-top: 20px;
    ul {
      li:hover {
        color: rgb(253, 74, 74);
        cursor: pointer;
      }
    }
  }
}
